body {
  background-color: aqua;
  font-family: "Philosopher", sans-serif;
}
.weather-app {
  background: white;
  max-width: 700px;
  margin: 35px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}
